*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  text-decoration: none;
  /*white-space:nowrap*/


}
body {
  background-color: #EBE8E4;
  font-size: 15px;
  position: relative;

}

body,p,h1,h2,h3,h4,h5{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
ul
{
  list-style: none;
}
@media screen and (max-width: 1200px) {
  body
  {
    width: 1200px;
  }
}
div.clear
{
  clear: both;
}
div.body
{
  margin: 0 auto;
}
div.body > div.container
{
  margin:20px 5%;
  background-color: #ffffff;
}
div.body > div.container > h3
{
  text-align: center;
  line-height: 80px;
}
